# Ignore everything by default
/*

# Keep Git config files
!/.gitignore
!/.gitattributes

# Keep Unreal project file
!/*.uproject

# Keep project settings
!/Config/
!/Config/**

# Ändra till gruppens siffra nedan! Istället gör Group0 skriver du Group1, Group2, osv.
!/Content/
!/Content/StudentWork/
!/Content/StudentWork/Group0/
!/Content/StudentWork/Group0/**

# Always ignore generated Unreal folders
/Saved/
/Intermediate/
/DerivedDataCache/
/Binaries/