Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
/Content/CourseAssets/
/Content/ZenUV_SciFi_TrimSheet/
/Content/StudentWork/Group1/
/Content/StudentWork/Group2/
/Content/StudentWork/Group3/
/Content/StudentWork/Group4/
/Content/StudentWork/Group5/
/Content/StudentWork/Group6/